<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true" scanPeriod="60 seconds">

    <!-- 控制台打印 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoding>UTF-8</encoding>
        <encoder>
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>DEBUG</level>
        </filter>
    </appender>

    <!-- ERROR 输入到文件，按日期和文件大小 -->
    <appender name="mmall" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D:\javadata\jar\log4j\projectlog\mmall.log</File>
        <encoder charset="utf-8">
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <!-- WARN 输入到文件，按日期和文件大小 -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>D:\javadata\jar\log4j\projectlog\error.log</File>
        <encoder charset="utf-8">
            <pattern>[%d{HH:mm:ss.SSS}][%p][%c{40}][%t] %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logFile.%d{yyyy-MM-dd}.log</fileNamePattern>
            <append>true</append>
            <maxHistory>10</maxHistory>
        </rollingPolicy>
    </appender>

    <logger name="com.mmall" additivity="false" level="INFO">
        <appender-red ref="mmall"/>
        <appender-red ref="console"/>
    </logger>

    <!--mybatis log 日志-->
    <logger name="com.mmall.dao" level="DEBUG"/>

      <!--根节点日志-->
   <root level="DEBUG">
       <appender-ref ref="console"/>
       <appender-ref ref="error"/>
   </root>

</configuration>